<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title>Navbar Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>
<body class="text-center vh-100">

	<div th:if="${param.error}" class="alert alert-error">Invalid
		username and password.</div>
	<div th:if="${param.logout}" class="alert alert-success">You have
		been logged out.</div>

	<div class="jumbotron d-flex align-items-center h-100">
		<div class="container">
			<form class="form-signin" name="login-form" th:action="@{/login}"
				method="post">
				<h1 class="h3 mb-3 font-weight-normal">V I K T O R</h1>
				<div class="mb-3">
					<label for="username" class="sr-only">Username</label> <input
						name="username" type="text" id="username" class="form-control"
						placeholder="Username" required="" autofocus="">
				</div>
				<div class="mb-3">
					<label for="password" class="sr-only">Password</label> <input
						name="password" type="password" id="password" class="form-control"
						placeholder="Password" required="">
				</div>
				<!-- <div class="checkbox mb-3">
					<label> <input type="checkbox" value="remember-me">
						Remember me
					</label>
				</div> -->
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
					in</button>
				<p class="mt-5 mb-3 text-muted">© 2019</p>
			</form>
		</div>
	</div>
</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</html>