<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Aufträge Liste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Aktualisieren"
      refreshingSpinner="circles"
      refreshingText="Liste aktualisieren"
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of taskList">
    <ion-card-header>
      <ion-card-subtitle>{{ item.patient.name }}</ion-card-subtitle>
      <ion-card-title>{{ item.taskType.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>geplante Zeit : {{ item.beginDateTime | date: "HH:mm" }}</p>
      <p>Station : {{ item.station.name }}</p>
      <p>Wo : {{ item.startLocation.name }}</p>
      <p>Wohin : {{ item.endLocation.name }}</p>
      <p>Bewegungsprofil : {{ item.movementProfileString }}</p>
      <p>Aufgenommen: {{ item.hubMarkBoolean }}</p>
      <p>Erledigt: {{ item.hubCompleted }}</p>
    </ion-card-content>

    <ion-item>
      <ion-icon name="compass" slot="start"></ion-icon>
      <ion-button fill="outline" slot="end" (click)="markTask(item, item.id)"
        >Aufnehmen</ion-button
      >
    </ion-item>
  </ion-card>
</ion-content>
