<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Your App, {{currentUser.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now, you can go on with your details...</p>
        <ion-button fill="clear" expand="block" color="primary" (click)="logOut()">Log Out!</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
